import React, { FunctionComponent } from 'react';

import { {{pascalCase name}}Props } from './{{pascalCase name}}.models';
import { {{pascalCase name}}Container } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: FunctionComponent<{{pascalCase name}}Props> = (props) => {
  const { firstProp, secondProps } = props;

  return (
    <{{pascalCase name}}Container>
      <p>Hello, World!</p>
    </{{pascalCase name}}Container>
  );
};

export default {{pascalCase name}};
